<h1>Hola {{user.name}}</h1>

<p>
	 tenes
	{{user.edad}}
	años, vivis en
	{{user.city}}
	tu email es
	{{user.mail}}
	y puedo llamarte al
	{{user.tel}}
</p>

{{#if isAdmin}}
	<ul>
		{{#each foods}}
			<li>{{this.name}} - {{this.price}}</li>
		{{/each}}
	</ul>
{{else}}
	<h2>No tenes permisos, ¿que miras?...</h2>
{{/if}}

<h1>Hay {{cant}} de Usuarios registrados</h1>
